<h1> 
<%= @contact.full_name %>
<br>
<%= @contact.phone_number %>
<br>
Japanese Phone Number: <%= @contact.jap_prefix %>
 </h1>
 <p> Updated at: <%= @contact.friendly_updated_at %> </p>

 <button class="btn btn-primary">  <a href="/contacts/<%=@contact.id%>/edit"><p color: white> Edit Contact </p> </button>
<%= button_to "Delete Contact", {action: "destroy", id: @contact.id}, method: :delete, data: { confirm: "Are you sure?" } %>