<!DOCTYPE html>
<html>
  <head>
    <title>ContactsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/contacts">Contacts <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/signup">Sign Up</a></li>
              <li><a href="/login">Log In</a></li>
              <li><a href="/logout"></a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/items/random">Log Out</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
 <div class="conatainer">
    <% flash.each do |key, message| %>
      <div class="alert alert-<%=key%>" role="alert"> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %> 
      </div>
    <% end %> 

   <%= yield %>
  </div>
  
  <body>
    <%= yield %>
  </body>
</html>
